* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* utility */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

strong {
  color: hsla(160, 100%, 30%, 1);
}

.intro {
  padding: 96px 0 64px 0;
  max-width: 400px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding-top: 72px;
  padding-bottom: 66px;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card {
  background-color: white;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card h2 {
  margin: 0;
  margin-top: -16px;
  margin-bottom: 16px;
  margin-left: -32px;
  padding: 16px 32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  background-color: hsla(45, 100%, 50%, 1);
  width: fit-content;

  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
