section {
  display: flex;
  align-items: flex-start;
  padding: 8px 0px;
}

section p {
  flex: 1;
  margin-left: 32px;
  margin-bottom: 100vh;
}
/*
  Add a bunch of empty space, so that
  we can scroll, and see the effect:
*/
section:last-of-type {
  margin-bottom: 100vh;
}